<ng-template #secretHint>
    <p class="unveil">Unveil Secret!</p>
</ng-template>
<section class="display-container">
    <p *ngIf="displaySecret; else secretHint">Secret Password = tuna</p>
    <button
        class="btn btn-primary"
        type="button"
        (click)="onClickDisplaySecret()"
        [disabled]="displaySecret">
        Display Details
    </button>
    <section class="logs-list">
        <p>Logs:</p>
        <ol>
            <li *ngFor="let clickLog of clickLogs; let i = index;">
                <span 
                    [ngClass]="{'exceed-log': i >= 4}"
                    [ngStyle]="{'background-color': i >= 4 ? 'blue': 'inherit'}">
                    {{clickLog}}
                </span>
            </li>
        </ol>
    </section>
</section>
